<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    
    <div class="container mb-3 py-4">
    <h1 class="text-center">welcome</h1>
    <form method="post" action="/contact">
        {%load crispy_forms_tags%}
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group">
            <label for="name"> Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter">
        </div>
        
        <div class="form-group">
            <label for="name"> Weight:</label>
            <input type="text" class="form-control" id="weight" name="weight" placeholder="Enter">
        </div>
        
         <div class="form-group">
            <label for="name"> Price:</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Enter">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    
</body>
</html>