<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div class="container mb-3 py-4">
    <h1 class="text-center">welcome</h1>
    <form method="post" action="#">
        {%load crispy_forms_tags%}
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group">
            <label for="name">First Name:</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your first Name">
        </div>

	<div class="form-group">
            <label for="name">Last Name:</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your last Name">
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
	<div class="form-group">
            <label for="username"> Username:</label>
            <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter your last Name">
        </div>	

        <div class="form-group">
            <label for="">Password:</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="Enter Your password">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
</body>
</html>